@charset "UTF-8";
/* CSS Document */

body {
	background-color:#151515;
	color: white;
	overflow-x: hidden;
}

hr {
	border-top: 1px solid #FFFFFF;
}

figcaption {
	padding-top: 1em;
	font-size: 0.75rem;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}

/* fonts */

p {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 1.5rem;
	font-family: 'Lato', sans-serif;
}

@media (min-width: 576px) {
	h1 {
	font-size: 2rem;
}
}

h2 {
	font-size: 3rem;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size: 2rem;
	font-weight: bold;
}

h4 {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.lato {
	font-family: 'Lato', sans-serif;
}

.bigText {
	font-size: 1rem;
}

@media (min-width: 576px) {
	.bigText {
	font-size: 1.25rem;
}
}

/* buttons */
.btn {
	-webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
	margin-left: 1em;
	font-size: 0.6rem;
}

@media (min-width: 576px) {
	.btn {
	font-size: 0.9rem;
}
}

/* overlays */
.blackOverlayCover {
	width: 100%;
	height: 100%;
/*
	background-color: blacK;
	opacity: 0.35;
*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#151515+0,151515+100&0.1+0,0.6+100 */
background: -moz-linear-gradient(top, rgba(21,21,21,0.1) 0%, rgba(21,21,21,0.6) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(21,21,21,0.1) 0%,rgba(21,21,21,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(21,21,21,0.1) 0%,rgba(21,21,21,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a151515', endColorstr='#99151515',GradientType=0 ); /* IE6-9 */
}
.blackOverlay {
	width: 100%;
	height: 100%;
	background-color: blacK;
	opacity: 0.2;
}

/* paddings */
.paddingLeftRight {
    padding-left: 5em;
	padding-right: 1em;
}

@media (min-width: 576px) {
	.paddingLeftRight {
    padding-left: 18%;
	padding-right: 10%;
	}
}

/* positions */
#topNavBar {
	position: fixed;
	width: 100vw;
	height: 7em;
	top: 0;
	left: 0;
	padding-left: 2em;
	padding-right: 2em;
	z-index: 50;
}

@media (min-width: 576px) {
	#topNavBar {
	padding-left: 3.5em;
	padding-right: 3.5em;
}
}

.topNavBarDark {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#151515+0,151515+100&1+25,0+100 */
background: -moz-linear-gradient(top, rgba(21,21,21,1) 0%, rgba(21,21,21,1) 25%, rgba(21,21,21,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(21,21,21,1) 0%,rgba(21,21,21,1) 25%,rgba(21,21,21,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(21,21,21,1) 0%,rgba(21,21,21,1) 25%,rgba(21,21,21,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151515', endColorstr='#00151515',GradientType=0 ); /* IE6-9 */
}

.topLeft {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.topRight {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

/* Main sections of the site */
#navigation {
	position: fixed;
	top: 50%;
	left: 1.5em;
	transform: rotate(90deg) translateX(-50%);
	transform-origin: left bottom 0;
	z-index: 50;
}

@media (min-width: 576px) {
	#navigation {
	left: 3em;
}
}

.navLabel {
	margin-right: 1em;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 1.25rem;
	font-weight: normal;
	text-decoration: none;
}

@media (min-width: 576px) {
	.navLabel {
    font-size: 1.5rem;
	}
}

.navLabelOn {
	border-bottom: thin solid #FFFFFF;
}

#tagline {
	position: absolute;
	bottom: 3em;
	right: 2.5em;
	text-align: right;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
	max-width: 90vw;
}

@media (min-width: 576px) {
	#tagline {
	bottom: 6em;
	right: 8em;
}
}

.taglineHeading {
	font-size: 2.5rem;
}

@media (min-width: 576px) {
	.taglineHeading {
	font-size: 4rem;
}
}

.taglineSubheading {
	font-size: 1.1rem;
}

@media (min-width: 576px) {
	.taglineSubheading {
	font-size: 1.5rem;
}
}

#aboveTheFoldImg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#aboveTheFold {
	height: 100vh;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

#aboveTheFoldTitle {
	position: absolute;
	bottom: 1em;
	right: 5em;
	text-align: right;
}

#whatIDo {
	width: 100%;
	margin-top: 2em;
	position: relative;
	padding-left: 0;
	padding-right: 0;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

@media (min-width: 576px) {
	#whatIDo {
	padding-left: 10%;
	padding-right: 10%;
}
}

.profilePic {
	position: absolute;
	top: 10%;
	left: 0;
	width: 50%;
	height: 35%;
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

@media (min-width: 576px) {
	.profilePic {
	top: 50%;
	left: 50%;
	width: 40%;
	height: 70%;
	transform: translate(-50%, -50%);
}
}

.whatIDoItemLeft {
	width: 55%;
	margin-left: auto;
	margin-top: 2em;
}

.whatIDoItemRight {
	width: 55%;
	margin-left: auto;
	margin-top: 2em;
}

@media (min-width: 576px) {
	.whatIDoItemLeft {
	width: 40%;
	margin-left: 0;
	margin-right: auto;
	margin-top: auto;
}

.whatIDoItemRight {
	width: 40%;
	margin-left: auto;
	margin-right: 0;
	margin-top: auto;
}
}

.projectLink {
	padding-top: 20vh;
	padding-bottom: 0;
	height: 65vh;
	width: 100%;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.projectLinkTitle {
	position: absolute;
	top: 22%;
	left: 0;
	max-width: 50%;
}

.projectLinkSeeMore {
	position: absolute;
	bottom: 7%;
	left: 81%;
}

.projectLinkImg {
	position: absolute;
	top: 0;
	left: 15%;
	width: 60%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.projectOverlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: scroll;
	display: none;
	z-index: 100;
}

.overlayContainer {
	margin-top: 6em;
	margin-bottom: 6em;
	padding-left: 10%;
	padding-right: 10%;
}

/* special rules */
.relativizer {
	position: relative;
}

.centerInRelativeDiv {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centerVerticallyInRelativeDiv {
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
}

.imageFit {
	max-width: 100%;
	max-height: 100%;
}

.cursor {
	cursor: pointer;
}


